body {
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 20px;
}

.form input,
button {
  width: 60%;
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  align-items: center; 
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none
}

.formstatus {
  float: right;
}

.panel_button {
  width: 80%;
  max-width: 400px;
}

.panel_inputbox {
  width: 80%;
  max-width: 400px;
  height: 40px;
}

.navigationlink {
  font-weight: bolder;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 30px;
  border: white;
}

.formfieldheader {
  font-weight: bold;
  float:left;
  text-align: left;
  align-self: safe;
  padding: 4px;
  padding-right: 25%;
}

.formcodestatus {
  font-weight: bold;
  color: blue;
}

/*button:hover {
  background-color: #4CAF50;
  color: white;
  transition: 0.3s;
}*/

.cat {
  margin-top: 40px;
  width: 80%;     
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;               
  border-radius: 15px;         
  width: 300px;                
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

#gamePanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center; 
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
